
      body {
        display: flex;
         min-height: 100vh;
        flex-direction: column;
      }
      man{
          height: 200px;

        }
  main {
    flex: 1 0 auto;
  }
.blacktext {
        color: black;
        font-size: 20px;
}
.mydiv{
  border: 2px outset light blue;
  background-color: light blue;    
  text-align: left;
}